/target
src/main/java/META-INF/MANIFEST.MF
*.DS_Store
/.externalToolBuilders/
/.settings/
.classpath
bin/
geppettoTmp/
/bin/
/src/test/resources/pyr_4_sym.cell.nml.xmi
/src/test/resources/LargeConns.net.nml.xmi
/src/test/resources/FS.net.nml.xmi
/src/test/resources/Pos
