/target
src/main/java/META-INF/MANIFEST.MF
*.DS_Store
/.externalToolBuilders/
/.settings/
.classpath
bin/
geppettoTmp/
/bin/
/src/test/resources/pyr_4_sym.cell.nml.xmi
/src/test/resources/LargeConns.net.nml.xmi
/src/test/resources/FS.net.nml.xmi
/src/test/resources/Pos
/src/test/resources/TestSmall.net.nml.xmi
/libjhdf5.so
/src/test/resources/MediumNet.net.nml.h5.xmi
/src/test/resources/FS.net.nml.xmi
/src/test/resources/Balanced.net.nml.xmi
/src/test/resources/CA1PyramidalCell.net.nml.xmi
/src/test/resources/NML2_SingleCompHHCell.nml.xmi
/src/test/resources/BigCA1.net.nml.xmi
/src/test/resources/MediumNet.net.nml.xmi
